<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="cn.cecurio.frame.spring.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="cn.cecurio.frame.spring.service.impl.UserServiceImpl">
        <property name="userDaoPrefix">
            <ref bean="userDao"></ref>
        </property>

        <!-- name为构造函数的形参-->
        <constructor-arg name="userDaoConstructor" ref="userDao"></constructor-arg>
    </bean>
</beans>